
    .header {
    width: 100% ;
    height: 100px;
    border: 1px solid orange;
    }

    a:link { color: blue; font-weight: bold;}
 
.nav {
    width: 125px;
    height: 250px;
    border: 1px solid blue;
    }
    
    .sidebar {
     width: 125px;
    height: 250px;
    border: 1px solid blue;
    }
    
    .footer {
     width: 100%;
    height: 50px;
    border: 1px solid red;
    }
    
    .clearfloat {
     clear: both;
    } 
    
    .main {
     height: 350px;
   margin:0px auto;
    }
    .floatleft {
    float:left;
   
    }
   body {
 background-image: url('images/imagebackground.jpeg');
 background-color: gray;
}  
    .floatright {
  float: right;
    }
    a:link { color: blue; }
    a:visted {color:green;}
    a:hover {
    color: orange; text-decoration: none; }
    a:active {color:red;}
    /* this is stuff for coding. */
